---
import packageJson from '../../package.json';

const version = packageJson.version;
---

<span class="version">v{version}</span>

<style>
    .version {
        color: rgb(var(--gray));
    }
</style>
